@value primaryColor, blackColor,whiteColor from '../../../data/colors.css';
.CategoryBox
{
    display: flex;
    flex-direction: row;
    background-color: whiteColor;
    border: 0.1vw solid primaryColor ;
    border-radius: 0.6vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5vw;
}
.CategoryBox:hover
{
    cursor: pointer;
    opacity: 0.7;
}

  .CategoryText
  {
      font-size: 1vw;
      font-weight: bold;
      margin-bottom: 1vw;
      text-shadow: 0.01vw 0.01vw primaryColor;
  }
  .CategoryBox.Selected
  {
    background-color: primaryColor;
    color:whiteColor;
  }
  .IconStyle
{
    margin-left: 0.5vw;
}